<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>
      two.column.layout
    </title>
    <link href="..\..\css\layout\two.bar\adapt.left.fixed.right.two.column.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="parent">
      <div class="left">
        我是一个自适应宽度的左边输入框，支持自动换行，不被右边的导航栏覆盖内容
      </div>
      <div class="right">
        我是固定右边的导航栏
      </div>
    </div>
  </body>
</html>
