<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>
      four.environment.pic
    </title>
    <link rel="stylesheet" type="text/css" href="..\..\css\layout\four.environment.img.css"/>
  </head>
  <body>
    <p class="fly">
      <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=4087682223,2268991888&fm=26&gp=0.jpg"/>
    </br>
    翱翔天际
    <p class="green">
      <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1886087409,3138814267&fm=27&gp=0.jpg"/>
    </br>
    绿草茵茵
    </p>
    <p class="sky">
      <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2197674046,2607610858&fm=27&gp=0.jpg"/>
    </br>
     蓝天白云
    </p>
    <p class="flower">
      <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=4164266152,2797536686&fm=200&gp=0.jpg"/>
    </br>
    鲜花盛开
    </p>
  </body>
</html>
