<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
      <title>
        holy grail
      </title>
      <link href="..\..\css\layout\three_bar\holy_grail.css" rel="stylesheet" type="text/css">
      </link>
    </meta>
  </head>
  <body>
    <div class="container">
      <div class="main">
        ffffff
      </div>
      <div class="left">
        side1
      </div>
      <div class="right">
        side2
      </div>
    </div>
  </body>
</html>