<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>css盒模型2</title>
	<link rel="stylesheet" type="text/css" href="C:\Users\admin\Documents\html代码\TwTasks\view\css\BoxModel\webstyle.css">
</head>
<body>
	<div class="code">源码分类</div>
	<div class="content-1">
		<p><a href="" >ASP</a>(1)</p>
		<p><a href="">PHP</a>(0)</p>
		<p><a href="">JSP</a>(1)</p>
	</div>
	<div class="visitor">访客</div>
	<div class="content-2">
		<p>暂无访客</p>
		<p><a href="C:\Users\admin\Documents\html代码\登录成功.html" target="blank">登录</a>后您的头像会在这里。</p>
	</div>
</body>
</html>