<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>
      css盒模型2
    </title>
    <link href="..\..\css\box.model\navigation.css"/>
  </meta>
</head>
<body>
  <div class="code">
    源码分类
  </div>
  <div class="content-1">
    <p>
      <a href="">
        ASP
      </a>
      (1)
    </p>
    <p>
      <a href="">
        PHP
      </a>
      (0)
    </p>
    <p>
      <a href="">
        JSP
      </a>
      (1)
    </p>
  </div>
  <div class="visitor">
    访客
  </div>
  <div class="content-2">
    <p>
      暂无访客
    </p>
    <p>
      <a href="">
        登录
      </a>
      后您的头像会在这里。
    </p>
  </div>
</body>
</html>
