/*第一种方法*/

.parent {
  display: table-cell;
  height: 20px;
  vertical-align: middle;
  background-color: green;
}
/*第二种办法*/

.parent {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
}